---
layout: default
title: Contact
permalink: /contact/
contactMethods:
  - title: Email
    href: mailto:jesse@smick.me
    icon: envelope-o
    color: red lighten-1
  - title: Bitcoin
    href: /btc
    icon: btc
    color: amber darken-1
  - title: GitHub
    href: /gh
    icon: github
    color: blue lighten-1
  - title: Google+
    href: /g+
    icon: google-plus
    color: red
  - title: Hacker News
    href: /hn
    icon: hacker-news
    color: orange accent-4
  - title: Reddit
    href: /reddit
    icon: reddit
    color: light-blue darken-2
  - title: Stack Overflow
    href: /so
    icon: stack-overflow
    color: deep-orange
  - title: Twitter
    href: /twitter
    icon: twitter
    color: light-blue lighten-1
  - title: Keybase
    href: /keybase
    icon: key
    color: yellow darken-1
  - title: Bitbucket
    href: /bitbucket
    icon: bitbucket
    color: blue darken-4
---

<div class="row body grid">
  {% for contactMethod in page.contactMethods %}
    <div class="col-xs-6 col-sm-4 col-md-3 tile">
      <a href="{{ contactMethod.href }}" title="{{ contactMethod.title }}" class="tile-content {{ contactMethod.color }}"{% if contactMethod.title == 'Email' %} target="_blank"{% endif %}>
        <div class="valign-wrapper tile-icon">
          <i class="fa fa-{{ contactMethod.icon }} valign"></i>
        </div>
        <div class="tile-data">
          <div class="tile-title">{{ contactMethod.title }}</div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
