<div class="row text-center">
  <div class="col-xs-10 col-xs-offset-1">
    <img src="https://secure.gravatar.com/avatar/708dc88ce629f35288eaa787b46f9f63?s=128" alt="Jesse Smick" class="avatar shadow-z-1">
    <h1>Jesse Smick</h1>
    <nav>
      <ul class="tabs">
        <li class="tab {% if page.url == '/index.html' %}active {% endif %}col-xs-6"><a href="/">Home</a></li>
        <li class="tab {% if page.url == '/contact/' %}active {% endif %}col-xs-6"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>