@import "colors";

@-webkit-keyframes move-bg {
    0% {
        background-position: 0 0;
    }
    50% { 
        background-position: 100% 100%;
    }
    100% { 
        background-position: 0 0;
    }
}
@keyframes move-bg {
    0% {
        background-position: 0 0;
    }
    50% { 
        background-position: 100% 100%;
    }
    100% { 
        background-position: 0 0;
    }
}

.header-panel {
    position: fixed;
    width: 100%;
    height: 12em;
    top: 0;
    background-color: color('grey', 'base');
    box-shadow: inset 0 1em 0 0 color('grey', 'darken-3');

    .header-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.75;
        background-position: 0 0;
        background-size: cover;
        -webkit-animation-name: move-bg;
        -webkit-animation-duration: 120s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-iteration-count: infinite;
        animation-name: move-bg;
        animation-duration: 120s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;

        &::after {
            content: 'Photo by ' attr(data-author);
            position: absolute;
            top: 0;
            right: 0;
            font-size: 11px;
            padding: 0 5px;
            color: color('grey', 'lighten-5');
        }
    }
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: 300;
}

.main.container {
    margin-top: 8em;
}

.avatar {
    height: 128px;
    widows: 128px;
    border-radius: 50%;
}

.info {
    padding: 2em 0;
}

a {
    color: color('light-blue', 'darken-2');
    margin: 0;

    &:hover, &:focus {
        color: color('light-blue', 'darken-4');
    }
}

.link {
    padding: 0 0 1em;
}
